<% provide(:title, 'Categories') %>
<h1>Majors</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4> <%= link_to("Aerospace Engineering", categories_aerospace_path) %> </h4>
      <h4> <%= link_to("Biomedical Engineering", categories_biomedical_path) %> </h4>
      <h4> <%= link_to("Chemical Engineering", categories_chemical_path) %> </h4>
      <h4> <%= link_to("Civil Engineering", categories_civil_path) %> </h4>
    </div>
    <div class="col-sm-4">
      <h4> <%= link_to("Computer Engineering", categories_compeng_path) %> </h4>
      <h4> <%= link_to("Computer Science", categories_compsci_path) %> </h4>
      <h4> <%= link_to("Electrical Engineering", categories_electrical_path) %> </h4>
    </div>
    <div class="col-sm-4">
      <h4> <%= link_to("Engineering Science", categories_engsci_path) %> </h4>
      <h4> <%= link_to("Mechanical Engineering", categories_mechanical_path) %> </h4>
      <h4> <%= link_to("Systems Engineering", categories_systems_path) %> </h4>
    </div>
  </div>
</div>
<h1>CIOs</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4> <%= link_to("Engineering Student Council", categories_esc_path) %> </h4>
    </div>
    <div class="col-sm-4">
      <h4> <%= link_to("Theta Tau", categories_thetatau_path) %> </h4>
    </div>
    <div class="col-sm-4">
      <h4> <%= link_to("ULINK", categories_ulink_path) %> </h4>
    </div>
  </div>
</div>
<br>
<h3> <b> <center> <%= link_to("STS 2500 Projects", categories_sts_path, {style: "color: blue"}) %> </center> </b> </h3>